/*Navbar*/
body {
	width:100%;
  height:100%;
}

#mainBody {
  padding-top: 25px;
  background-color:rgb(235, 233, 233);
  height:92.3vh;
}

h1 {
  font-size:1.5rem;
  text-align: center;
  color: rgb(106,191,247);
}

.container{
  padding-top: 25px;
  max-width:1170px; 
  background-color:white;
  border-radius: 5px;
}
img{ max-width:100%;}
.inboxPeople {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inboxMsg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
  border-radius:5px;
}
.top_spac{ margin: 20px 0 0;}


.chatIb h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chatIb h5 span{ font-size:13px; float:right;}
.chatIb p{ font-size:14px; color:#989898; margin:auto}
.chatImg {
  float: left;
  width: 11%;
}
.chatIb {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chatPeople{ overflow:hidden; clear:both;}
.chatList {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inboxChat { height: 550px; overflow-y: scroll;}

.activeChat{ background:#ebebeb;}

.incomingMessageImage {
  display: inline-block;
  width: 6%;
}
.receivedMessage {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .receivedWithinMessage p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.messageTimeDate {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.receivedWithinMessage { width: 57%;}
.messageBox {
  float: left;
  padding: 0px 15px 0px 25px;
  width: 60%;
}

 .sentMessage p {
  background-color: rgb(106,191,247);
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoingMessage{ overflow:hidden; margin:26px 0 26px;}
.sentMessage {
  float: right;
  width: 46%;
}
.inputTypeMessage input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.typeMessage {border-top: 1px solid #c4c4c4;position: relative;}
.messageSendBtn {
  background-color: rgb(106,191,247);
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { 
  padding: 0 0 10px 0;
}

.messageHistory {
  height: 516px;
  overflow-y: auto;
}

.hidden {
    display: none;
}