/* Home Page CSS */
/*
Color Themes:
  logo blue:rgb(106,191,247);
	Light gray: rgb(137, 137, 137);
	Lighter gray2: rgb(187, 186, 186);
	Lighter gray3:rgba(189, 189, 189, 0.37);

Style:
	border radius: 5px;
*/
body {
	height:100%;
	width:100%;
	overflow:hidden;
}

#backgroundImg {	
  height: 100%;
  width: 60%;
  overflow: hidden;
	background-image: linear-gradient(to top, #5c48c5, #4c63d6, #3f7ae3, #3d90ec, #4aa5f2, #2fb3f7, #13c0f9, #0ccdf9, #00d6f1, #00dee0, #00e4c9, #36e8ac);
	transform: rotate(-27deg);
	z-index: -1;
	position: absolute;
  left: 50%;
	top: -28%;
	border-radius: 80px;
}

#houseImg {
	z-index: -1;
	overflow: hidden;
	left: 60%;
	top: 22%;
	position: absolute;
}

#mainBody {
	z-index: 900;
}


/* #body {
	margin: auto;
} */


.navbar-nav .nav-item .nav-link {
	font-size:1.1rem;
	color:rgb(137, 137, 137);
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
	color:rgb(187, 186, 186);
}

#loginBtn {
	border-color:white;
	color:white;
	margin-right: 10px;
}

#loginBtn:hover {
	background-color:rgb(187, 186, 186);
	border-color:rgb(187, 186, 186);
	color:white;	
}

#navbarSignupBtn {
	color:white;
	background-color:rgb(137, 137, 137);
}

#navbarSignupBtn:hover {	
	background-color:rgb(187, 186, 186);
}

#navbarSignupBtn:focus {
	box-shadow:none;
}

/* Search bar-------------------------------------------*/
#content {
	margin-top: 10%;
	width:50%;
	margin-left: 30px;
}

#searchBar {
	width: 70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}

#zipcode {
	font-size:1.2rem;
	margin-left: 20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
}

#searchBtn {
	width: 100px;
	color:white;
	font-size:1.2rem;
	border:none;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	background-image: linear-gradient(to right, #5c48c5, #476bdb, #3c89e9, #4aa5f2, #6abff7);
}

#oneline {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size: 3em;
	color:rgb(94, 94, 94);
	width:50%;
}

#modalSignupBtn {
	background-color: rgb(106,191,247);
	color:white;
}

#modalSignupBtn:hover {
	background-color: rgb(143, 210, 255);
}


