body {
  height: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
  padding-left: 20px;
}

#price {
  font-size: 20px;
}

#name {
  padding-top: 10px;
  font-weight: bold;
}

#address {
  font-size: 20px;
}

#apartment_img {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 98%;
}

#listing_info {
  padding-bottom: 10px;
}

li {
  font-size: 20px;
}

.title {
  font-size: 30px;
}