body {
  height: 100%;
  width:100%;
}

#mainBody {
  padding-top: 25px;
  background-color:rgb(235, 233, 233);
  height:92.3vh;
}

.container{
  padding-top:5px;
  background-color:white;
  border-radius: 5px;
  color:rgb(92, 92, 92);
}

ul {
  list-style: none;
  padding-left: 20px;
}

#price {
  font-size: 20px;
}

#name {
  color:rgb(92, 92, 92);
}

#address {
  font-size: 20px;
}

#apartment_img {
  padding-top: 2%;
  padding-bottom: 2%;
  width: 98%;
}

#listing_info {
  padding-bottom: 10px;
}

li {
  font-size: 20px;
}

.title {
  font-size: 30px;
}