/* Profile page CSS */
/* body {
    width:100%;
    height:100%;
    overflow-y:hidden;
} */
#content{
    padding: 25px;
    margin-bottom: 100px;
}
#info{
    display: inline-block;
    margin-left: 25px;
}
#photo_rating{
    float: left;
}
#photo{
    float: left;
}
#rating{
    display: block;
    margin-left: 80px;
    /* text-align: center; */
}
#stars{
    margin-left: 35px;
}
/* #edit{
    float: right;
} */
#messages{
    display: block;
    margin-left: 35px;
    margin-bottom: 100px;
}

#message_bar{
    display: block;
    /* margin-left: 35px; */
    margin-right: 35px;
    background-color:  #6600ff;
    color: white;
    padding: 5px;
}
#message_content{
    display: block;
}
#message_info{
    display: inline-block;
}

#listings{
    display: block;
    margin-left: 35px;
    margin-bottom: 100px;
}

#listings_bar{
    /* display: block; */
    /* margin-left: 35px; */
    margin-right: 35px;
    background-color:  #6600ff;
    color: white;
    padding: 5px;
}

#rec_messages{
    display: block;
    /* margin-left: 35px; */
    margin-right: 35px;
    background-color:  #6600ff;
    color: white;
    padding: 5px;
    margin-bottom: 10px;
}
#prev_view{
    display: block;
    /* margin-left: 35px; */
    margin-right: 35px;
    background-color:  #6600ff;
    color: white;
    padding: 5px;
}
#listings {
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(187, 187, 187);
 } 

::-webkit-scrollbar {
    display:none;
}

.apartmentNameDisplay {
    background-color: rgba(139, 217, 247, 0.37);
    padding-top: 10px;
    padding-left: 30px;
}

.price {
    font-size: 2rem;
}

.individualListing {
    /* margin-top:10px; */
    box-shadow: 10px 10px 5px rgb(201, 199, 199);
}

.listingPic {
    height:200px;
    width:300px;
}

.listingInfo {
    padding-top: 20px;
}